<%= form_with(model: poker_game, local: true) do |form| %>
  <% if poker_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poker_game.errors.count, "error") %> prohibited this poker_game from being saved:</h2>

      <ul>
      <% poker_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_date %>
    <%= form.datetime_select :game_date, id: :poker_game_game_date, class:"form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :home_id %>
    <%= form.text_field :home_id, id: :poker_game_home_id, class:"form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :poker_game_type, class:"form-control" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :fee %>
    <%= form.text_field :fee, id: :poker_game_fee, class:"form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Registrar juego de Poker', class:'btn btn-primary' %>
  </div>
  <br>
<% end %>
