<div class="row">
  <div class="col-md-12">
    <h1><%= @poker_player.name %> <small>"<%= @poker_player.nickname %>" <br><%= @poker_player.title %></small></h1>
    <br>

    <%= link_to 'Edit', edit_poker_player_path(@poker_player) %> |
    <%= link_to 'Back', poker_players_path %>
  </div>
</div>
